.lib-custom-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lib-custom-header {

}

.lib-custom-main {
  /*min-height: 80vh;*/
  /*flex-grow: 1;*/
  flex: 1 1 auto;

  background-color: #FFFFFF;
  overflow: auto;

  display: flex;
  flex-direction: column; /* Stacks the children vertically */
}

.lib-custom-footer {

}
