<div class="lib-inventory-page-container">
  <div class="lib-inventory-page-mat-tab-group">
    <div class="lib-inventory-page-mat-tab-group-header">
      <div
        class="lib-inventory-page-mat-tab"
        [class.active]="activeTabIndex === 0"
        (click)="setActiveTab(0)"
      >
        <span class="lib-inventory-page-mat-tab-label">Book Stock</span>
      </div>
      <div
        class="lib-inventory-page-mat-tab"
        [class.active]="activeTabIndex === 1"
        (click)="setActiveTab(1)"
      >
        <span class="lib-inventory-page-mat-tab-label">Book Categories</span>
      </div>
      <div
        class="lib-inventory-page-mat-tab"
        [class.active]="activeTabIndex === 2"
        (click)="setActiveTab(2)"
      >
        <span class="lib-inventory-page-mat-tab-label">Books</span>
      </div>
    </div>
    <div class="lib-inventory-page-mat-tab-group-body">
      <div class="lib-inventory-page-mat-tab-body" *ngIf="activeTabIndex == 0">
        <div class="lib-inventory-page-filter-wrapper">
          <div class="lib-inventory-page-filter-options-wrapper">
            <fieldset class="lib-inventory-page-options-fieldset">
              <legend>Filters:</legend>
              <div class="lib-inventory-page-filter-options-container">
                <form
                  class="lib-inventory-book-stock-form"
                  [formGroup]="bookStockFiltersForm"
                  (ngSubmit)="handleBookStockFiltersFormSubmit()"
                >
                  <div class="lib-inventory-book-stock-form-container">
                    <div class="lib-inventory-book-stock-form-group-wrapper">
                      <div class="lib-inventory-book-stock-form-group">
                        <input
                          class="lib-inventory-book-stock-form-input"
                          placeholder="Title"
                          id="filters_title"
                          type="text"
                          formControlName="title"
                        >
                      </div>
                      <div *ngIf="bookStockFiltersForm.get('title')?.errors && bookStockFiltersForm.get('title')?.touched">
                        <small *ngIf="bookStockFiltersForm.get('title')?.errors?.['minlength']">Title must be at least 2 characters.</small>
                        <small *ngIf="bookStockFiltersForm.get('title')?.errors?.['maxlength']">Title must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-book-stock-form-group-wrapper">
                      <div class="lib-inventory-book-stock-form-group">
                        <input
                          class="lib-inventory-book-stock-form-input"
                          placeholder="Author"
                          id="filters_author"
                          type="text"
                          formControlName="author"
                        >
                      </div>
                      <div *ngIf="bookStockFiltersForm.get('author')?.errors && bookStockFiltersForm.get('author')?.touched">
                        <small *ngIf="bookStockFiltersForm.get('author')?.errors?.['minlength']">Author must be at least 2 characters.</small>
                        <small *ngIf="bookStockFiltersForm.get('author')?.errors?.['maxlength']">Author must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-book-stock-form-group-wrapper">
                      <div class="lib-inventory-book-stock-form-group">
                        <input
                          class="lib-inventory-book-stock-form-input"
                          placeholder="Editure"
                          id="filters_editure"
                          type="text"
                          formControlName="editure"
                        >
                      </div>
                      <div *ngIf="bookStockFiltersForm.get('editure')?.errors && bookStockFiltersForm.get('editure')?.touched">
                        <small *ngIf="bookStockFiltersForm.get('editure')?.errors?.['minlength']">Editure must be at least 2 characters.</small>
                        <small *ngIf="bookStockFiltersForm.get('editure')?.errors?.['maxlength']">Editure must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-book-stock-form-group-wrapper">
                      <div class="lib-inventory-book-stock-form-group">
                        <input
                          class="lib-inventory-book-stock-form-input"
                          placeholder="Collection"
                          id="filters_collection"
                          type="text"
                          formControlName="collection"
                        >
                      </div>
                      <div *ngIf="bookStockFiltersForm.get('collection')?.errors && bookStockFiltersForm.get('collection')?.touched">
                        <small *ngIf="bookStockFiltersForm.get('collection')?.errors?.['minlength']">Collection must be at least 2 characters.</small>
                        <small *ngIf="bookStockFiltersForm.get('collection')?.errors?.['maxlength']">Collection must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-book-stock-form-group-wrapper">
                      <div class="lib-inventory-book-stock-form-group">
                        <input
                          class="lib-inventory-book-stock-form-input"
                          placeholder="Year of Publication"
                          id="filters_yearOfPublication"
                          type="text"
                          formControlName="yearOfPublication"
                        >
                      </div>
                      <div *ngIf="bookStockFiltersForm.get('yearOfPublication')?.errors && bookStockFiltersForm.get('yearOfPublication')?.touched">
                        <small *ngIf="bookStockFiltersForm.get('yearOfPublication')?.errors?.['pattern']">Year of publication must be a number of 4 digits.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-book-stock-form-group-wrapper lib-inventory-book-stock-form-group-filter-button">
                      <button
                        class="lib-inventory-book-stock-form-filter-button"
                        type="submit"
                        [disabled]="!bookStockFiltersForm.valid"
                      >
                        Apply Filters
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="lib-inventory-page-table-wrapper">
          <table mat-table [dataSource]="book_stock_dataSource" class="lib-inventory-page-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="availableQuantity">
              <th mat-header-cell *matHeaderCellDef> Available Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.availableQuantity}} </td>
            </ng-container>

            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef> Author </th>
              <td mat-cell *matCellDef="let element"> {{element.book?.author}} </td>
            </ng-container>

<!--            <ng-container matColumnDef="bookFormat">-->
<!--              <th mat-header-cell *matHeaderCellDef> Book Format </th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.book?.bookFormat}} </td>-->
<!--            </ng-container>-->

            <ng-container matColumnDef="collection">
              <th mat-header-cell *matHeaderCellDef> Collection </th>
              <td mat-cell *matCellDef="let element"> {{element.book?.collection}} </td>
            </ng-container>

<!--            <ng-container matColumnDef="coverType">-->
<!--              <th mat-header-cell *matHeaderCellDef> Cover Type </th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.book?.coverType}} </td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="edition">-->
<!--              <th mat-header-cell *matHeaderCellDef> Edition </th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.book?.edition}} </td>-->
<!--            </ng-container>-->

            <ng-container matColumnDef="editure">
              <th mat-header-cell *matHeaderCellDef> Editure </th>
              <td mat-cell *matCellDef="let element"> {{element.book?.editure}} </td>
            </ng-container>

            <ng-container matColumnDef="isbn">
              <th mat-header-cell *matHeaderCellDef> ISBN </th>
              <td mat-cell *matCellDef="let element"> {{element.book?.isbn}} </td>
            </ng-container>

<!--            <ng-container matColumnDef="pageNr">-->
<!--              <th mat-header-cell *matHeaderCellDef> Page Nr. </th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.book?.pageNr}} </td>-->
<!--            </ng-container>-->

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.book?.title}} </td>
            </ng-container>

<!--            <ng-container matColumnDef="translator">-->
<!--              <th mat-header-cell *matHeaderCellDef> Translator </th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.book?.translator}} </td>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="yearOfPublication">-->
<!--              <th mat-header-cell *matHeaderCellDef> Year of publication </th>-->
<!--              <td mat-cell *matCellDef="let element"> {{element.book?.yearOfPublication}} </td>-->
<!--            </ng-container>-->

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
<!--                <button *ngIf="null != element.identityPhotoFile" mat-flat-button class="lib-all-users-page-button" (click)="handleOnClickButtonDownloadIdentityPhotoFile(element)">Download Identity Photo</button>-->
<!--                <button *ngIf="! element.enabled" mat-flat-button class="lib-all-users-page-button" (click)="handleOnClickButtonEnableUser(element)">Enable</button>-->
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="book_stock_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: book_stock_displayedColumns;"></tr>
          </table>

          <mat-paginator [length]="book_stock_total" [pageSize]="book_stock_pageSize" [pageSizeOptions]="[1, 5, 10]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements"
                         (page)="handleBookStockPaginatorChange($event)"
                         class="lib-inventory-page-table-paginator"
          >
          </mat-paginator>
        </div>
      </div>
      <div class="lib-inventory-page-mat-tab-body" *ngIf="activeTabIndex == 1">
        <div class="lib-inventory-page-table-wrapper lib-inventory-page-table-book-categories-wrapper">
          <table mat-table [dataSource]="book_categories_dataSource" class="lib-inventory-page-table">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-flat-button class="lib-inventory-page-button" (click)="handleOnClickButtonEditBookCollection(element)">Edit</button>
                <button mat-flat-button class="lib-inventory-page-button" (click)="handleOnClickButtonDeleteBookCollection(element)">Delete</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="book_categories_displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: book_categories_displayedColumns;"></tr>
          </table>

<!--          <mat-paginator [length]="book_categories_total" [pageSize]="book_categories_pageSize" [pageSizeOptions]="[1, 5, 10]"-->
<!--                         showFirstLastButtons-->
<!--                         aria-label="Select page of periodic elements"-->

<!--                         class="lib-inventory-page-table-paginator"-->
<!--          >-->
<!--          </mat-paginator>-->
        </div>
        <div class="lib-inventory-page-tab-book-collection-create-wrapper">
          <div class="lib-inventory-page-tab-book-collection-create-form-container">
            <div class="lib-inventory-page-tab-book-collection-create-form-title-wrapper">
              <span class="lib-inventory-page-tab-book-collection-create-form-title">Create Book Collection</span>
            </div>
            <form
              class="lib-inventory-page-tab-book-collection-create-form"
              [formGroup]="bookCollectionCreateForm"
              (ngSubmit)="handleBookCollectionCreateFormSubmit()"
            >
              <div class="lib-inventory-page-tab-book-collection-create-form-group-wrapper">
                <div class="lib-inventory-page-tab-book-collection-form-group">
                  <input
                    class="lib-inventory-page-tab-book-collection-form-input"
                    placeholder="Name"
                    id="books_collection_create_name"
                    type="text"
                    formControlName="name"
                  >
                </div>
                <div *ngIf="bookCollectionCreateForm.get('name')?.errors && bookCollectionCreateForm.get('name')?.touched">
                  <small *ngIf="bookCollectionCreateForm.get('name')?.errors?.['minlength']">Name must be at least 2 characters.</small>
                  <small *ngIf="bookCollectionCreateForm.get('name')?.errors?.['maxlength']">Name must be of maximum 30 characters.</small>
                  <small *ngIf="bookCollectionCreateForm.get('name')?.errors?.['pattern']">Name must not contain invalid characters.</small>
                </div>
              </div>

              <div class="lib-inventory-books-form-group-filter-button">
                <button
                  class="lib-inventory-books-form-create-book-collection-button"
                  type="submit"
                  [disabled]="!bookCollectionCreateForm.valid"
                >
                  Create
                </button>
              </div>
            </form>
          </div>
          <div class="lib-inventory-page-tab-book-collection-create-form-container">
            <div class="lib-inventory-page-tab-book-collection-create-form-title-wrapper">
              <span class="lib-inventory-page-tab-book-collection-create-form-title">Edit Book Collection</span>
              <div *ngIf="null != bookCollectionEditForm.get('id')?.getRawValue() && '' != bookCollectionEditForm.get('id')?.getRawValue()"
                   class="lib-inventory-page-tab-book-collection-edit-form-container-edit-msg-wrapper"
              >
                <span class="lib-inventory-page-tab-book-collection-edit-form-container-edit-msg"> Editing book collection with ID: {{bookCollectionEditForm.get('id')?.getRawValue()}}</span>
              </div>
            </div>
            <form
              class="lib-inventory-page-tab-book-collection-create-form"
              [formGroup]="bookCollectionEditForm"
              (ngSubmit)="handleBookCollectionEditFormSubmit()"
            >
              <div class="lib-inventory-page-tab-book-collection-create-form-group-wrapper">
                <input
                  class="lib-inventory-page-tab-book-collection-form-input"
                  placeholder="ID"
                  id="books_collection_edit_id"
                  type="hidden"
                  formControlName="id"
                >
                <div class="lib-inventory-page-tab-book-collection-form-group">
                  <input
                    class="lib-inventory-page-tab-book-collection-form-input"
                    placeholder="Name"
                    id="books_collection_edit_name"
                    type="text"
                    formControlName="name"
                  >
                </div>
                <div *ngIf="bookCollectionEditForm.get('name')?.errors && bookCollectionEditForm.get('name')?.touched">
                  <small *ngIf="bookCollectionEditForm.get('name')?.errors?.['minlength']">Name must be at least 2 characters.</small>
                  <small *ngIf="bookCollectionEditForm.get('name')?.errors?.['maxlength']">Name must be of maximum 30 characters.</small>
                  <small *ngIf="bookCollectionEditForm.get('name')?.errors?.['pattern']">Name must not contain invalid characters.</small>
                </div>
              </div>

              <div class="lib-inventory-books-form-group-filter-button">
                <button
                  class="lib-inventory-books-form-create-book-collection-button"
                  type="submit"
                  [disabled]="!bookCollectionEditForm.valid"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="lib-inventory-page-mat-tab-body" *ngIf="activeTabIndex == 2">
        <div class="lib-inventory-page-filter-wrapper">
          <div class="lib-inventory-page-filter-options-wrapper">
            <fieldset class="lib-inventory-page-options-fieldset">
              <legend>Filters:</legend>
              <div class="lib-inventory-page-filter-options-container">
                <form
                  class="lib-inventory-books-form"
                  [formGroup]="booksFiltersForm"
                  (ngSubmit)="handleBooksFiltersFormSubmit()"
                >
                  <div class="lib-inventory-books-form-container">
                    <div class="lib-inventory-books-form-group-wrapper">
                      <div class="lib-inventory-books-form-group">
                        <input
                          class="lib-inventory-books-form-input"
                          placeholder="Title"
                          id="books_filters_title"
                          type="text"
                          formControlName="title"
                        >
                      </div>
                      <div *ngIf="booksFiltersForm.get('title')?.errors && booksFiltersForm.get('title')?.touched">
                        <small *ngIf="booksFiltersForm.get('title')?.errors?.['minlength']">Title must be at least 2 characters.</small>
                        <small *ngIf="booksFiltersForm.get('title')?.errors?.['maxlength']">Title must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-books-form-group-wrapper">
                      <div class="lib-inventory-books-form-group">
                        <input
                          class="lib-inventory-books-form-input"
                          placeholder="Author"
                          id="books_filters_author"
                          type="text"
                          formControlName="author"
                        >
                      </div>
                      <div *ngIf="booksFiltersForm.get('author')?.errors && booksFiltersForm.get('author')?.touched">
                        <small *ngIf="booksFiltersForm.get('author')?.errors?.['minlength']">Author must be at least 2 characters.</small>
                        <small *ngIf="booksFiltersForm.get('author')?.errors?.['maxlength']">Author must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-books-form-group-wrapper">
                      <div class="lib-inventory-books-form-group">
                        <input
                          class="lib-inventory-books-form-input"
                          placeholder="Editure"
                          id="books_filters_editure"
                          type="text"
                          formControlName="editure"
                        >
                      </div>
                      <div *ngIf="booksFiltersForm.get('editure')?.errors && booksFiltersForm.get('editure')?.touched">
                        <small *ngIf="booksFiltersForm.get('editure')?.errors?.['minlength']">Editure must be at least 2 characters.</small>
                        <small *ngIf="booksFiltersForm.get('editure')?.errors?.['maxlength']">Editure must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-books-form-group-wrapper">
                      <div class="lib-inventory-books-form-group">
                        <input
                          class="lib-inventory-books-form-input"
                          placeholder="Collection"
                          id="books_filters_collection"
                          type="text"
                          formControlName="collection"
                        >
                      </div>
                      <div *ngIf="booksFiltersForm.get('collection')?.errors && booksFiltersForm.get('collection')?.touched">
                        <small *ngIf="booksFiltersForm.get('collection')?.errors?.['minlength']">Collection must be at least 2 characters.</small>
                        <small *ngIf="booksFiltersForm.get('collection')?.errors?.['maxlength']">Collection must be of maximum 30 characters.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-books-form-group-wrapper">
                      <div class="lib-inventory-books-form-group">
                        <input
                          class="lib-inventory-books-form-input"
                          placeholder="Year of Publication"
                          id="books_filters_yearOfPublication"
                          type="text"
                          formControlName="yearOfPublication"
                        >
                      </div>
                      <div *ngIf="booksFiltersForm.get('yearOfPublication')?.errors && booksFiltersForm.get('yearOfPublication')?.touched">
                        <small *ngIf="booksFiltersForm.get('yearOfPublication')?.errors?.['pattern']">Year of publication must be a number of 4 digits.</small>
                      </div>
                    </div>

                    <div class="lib-inventory-books-form-group-wrapper lib-inventory-books-form-group-filter-button">
                      <button
                        class="lib-inventory-books-form-filter-button"
                        type="submit"
                        [disabled]="!booksFiltersForm.valid"
                      >
                        Apply Filters
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="lib-inventory-page-table-wrapper">
          <table mat-table [dataSource]="books_dataSource" class="lib-inventory-page-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="author">
              <th mat-header-cell *matHeaderCellDef> Author </th>
              <td mat-cell *matCellDef="let element"> {{element.author}} </td>
            </ng-container>

            <ng-container matColumnDef="bookFormat">
              <th mat-header-cell *matHeaderCellDef> Book Format </th>
              <td mat-cell *matCellDef="let element"> {{element.bookFormat}} </td>
            </ng-container>

            <ng-container matColumnDef="collection">
              <th mat-header-cell *matHeaderCellDef> Collection </th>
              <td mat-cell *matCellDef="let element"> {{element.collection}} </td>
            </ng-container>

            <ng-container matColumnDef="coverType">
              <th mat-header-cell *matHeaderCellDef> Cover Type </th>
              <td mat-cell *matCellDef="let element"> {{element.coverType}} </td>
            </ng-container>

            <ng-container matColumnDef="edition">
              <th mat-header-cell *matHeaderCellDef> Edition </th>
              <td mat-cell *matCellDef="let element"> {{element.edition}} </td>
            </ng-container>

            <ng-container matColumnDef="editure">
              <th mat-header-cell *matHeaderCellDef> Editure </th>
              <td mat-cell *matCellDef="let element"> {{element.editure}} </td>
            </ng-container>

            <ng-container matColumnDef="isbn">
              <th mat-header-cell *matHeaderCellDef> ISBN </th>
              <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
            </ng-container>

            <ng-container matColumnDef="pageNr">
              <th mat-header-cell *matHeaderCellDef> Page Nr. </th>
              <td mat-cell *matCellDef="let element"> {{element.pageNr}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="translator">
              <th mat-header-cell *matHeaderCellDef> Translator </th>
              <td mat-cell *matCellDef="let element"> {{element.translator}} </td>
            </ng-container>

            <ng-container matColumnDef="yearOfPublication">
              <th mat-header-cell *matHeaderCellDef> Year of publication </th>
              <td mat-cell *matCellDef="let element"> {{element.yearOfPublication}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <!--                <button *ngIf="null != element.identityPhotoFile" mat-flat-button class="lib-all-users-page-button" (click)="handleOnClickButtonDownloadIdentityPhotoFile(element)">Download Identity Photo</button>-->
                <!--                <button *ngIf="! element.enabled" mat-flat-button class="lib-all-users-page-button" (click)="handleOnClickButtonEnableUser(element)">Enable</button>-->
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="books_displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: books_displayedColumns;"></tr>
          </table>

          <mat-paginator [length]="books_total" [pageSize]="books_pageSize" [pageSizeOptions]="[1, 5, 10]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements"
                         (page)="handleBooksPaginatorChange($event)"
                         class="lib-inventory-page-table-paginator"
          >
          </mat-paginator>
        </div>
        <div class="lib-inventory-page-tab-book-collection-create-wrapper">
          <div class="lib-inventory-page-tab-book-collection-create-form-container">
            <div class="lib-inventory-page-tab-book-collection-create-form-title-wrapper">
              <span class="lib-inventory-page-tab-book-collection-create-form-title">Create Book</span>
            </div>
            <form
              class="lib-inventory-page-tab-book-collection-create-form"
              [formGroup]="bookCreateForm"
              (ngSubmit)="handleBookCreateFormSubmit()"
            >
              <div class="lib-inventory-page-tab-book-collection-create-form-group-wrapper">
                <div class="lib-inventory-page-tab-book-collection-form-group">
                  <input
                    class="lib-inventory-page-tab-book-collection-form-input"
                    placeholder="Title"
                    id="books_create_title"
                    type="text"
                    formControlName="title"
                  >
                </div>
                <div *ngIf="bookCreateForm.get('title')?.errors && bookCreateForm.get('title')?.touched">
                  <small *ngIf="bookCreateForm.get('title')?.errors?.['minlength']">Title must be at least 2 characters.</small>
                  <small *ngIf="bookCreateForm.get('title')?.errors?.['maxlength']">Title must be of maximum 30 characters.</small>
                  <small *ngIf="bookCreateForm.get('title')?.errors?.['pattern']">Title must not contain invalid characters.</small>
                </div>
              </div>

              <div class="lib-inventory-books-form-group-filter-button">
                <button
                  class="lib-inventory-books-form-create-book-collection-button"
                  type="submit"
                  [disabled]="!bookCreateForm.valid"
                >
                  Create
                </button>
              </div>
            </form>
          </div>
          <div class="lib-inventory-page-tab-book-collection-create-form-container">
            <div class="lib-inventory-page-tab-book-collection-create-form-title-wrapper">
              <span class="lib-inventory-page-tab-book-collection-create-form-title">Edit Book</span>
              <div *ngIf="null != bookEditForm.get('id')?.getRawValue() && '' != bookEditForm.get('id')?.getRawValue()"
                   class="lib-inventory-page-tab-book-collection-edit-form-container-edit-msg-wrapper"
              >
                <span class="lib-inventory-page-tab-book-collection-edit-form-container-edit-msg"> Editing book with ID: {{bookEditForm.get('id')?.getRawValue()}}</span>
              </div>
            </div>
            <form
              class="lib-inventory-page-tab-book-collection-create-form"
              [formGroup]="bookEditForm"
              (ngSubmit)="handleBookEditFormSubmit()"
            >
              <div class="lib-inventory-page-tab-book-collection-create-form-group-wrapper">
                <input
                  class="lib-inventory-page-tab-book-collection-form-input"
                  placeholder="ID"
                  id="books_edit_id"
                  type="hidden"
                  formControlName="id"
                >
                <div class="lib-inventory-page-tab-book-collection-form-group">
                  <input
                    class="lib-inventory-page-tab-book-collection-form-input"
                    placeholder="Title"
                    id="books_edit_title"
                    type="text"
                    formControlName="title"
                  >
                </div>
                <div *ngIf="bookEditForm.get('title')?.errors && bookEditForm.get('title')?.touched">
                  <small *ngIf="bookEditForm.get('title')?.errors?.['minlength']">Title must be at least 2 characters.</small>
                  <small *ngIf="bookEditForm.get('title')?.errors?.['maxlength']">Title must be of maximum 30 characters.</small>
                  <small *ngIf="bookEditForm.get('title')?.errors?.['pattern']">Title must not contain invalid characters.</small>
                </div>
              </div>

              <div class="lib-inventory-page-tab-book-collection-create-form-group-wrapper">
                <div class="lib-inventory-page-tab-book-collection-form-group">
                  <input
                    class="lib-inventory-page-tab-book-collection-form-input"
                    placeholder="Author"
                    id="books_edit_author"
                    type="text"
                    formControlName="author"
                  >
                </div>
                <div *ngIf="bookEditForm.get('author')?.errors && bookEditForm.get('author')?.touched">
                  <small *ngIf="bookEditForm.get('author')?.errors?.['minlength']">Author must be at least 2 characters.</small>
                  <small *ngIf="bookEditForm.get('author')?.errors?.['maxlength']">Author must be of maximum 30 characters.</small>
                  <small *ngIf="bookEditForm.get('author')?.errors?.['pattern']">Author must not contain invalid characters.</small>
                </div>
              </div>

              <div class="lib-inventory-page-tab-book-collection-create-form-group-wrapper">
                <div class="lib-inventory-page-tab-book-collection-form-group">
                  <input
                    class="lib-inventory-page-tab-book-collection-form-input"
                    placeholder="Collection"
                    id="books_edit_collection"
                    type="text"
                    formControlName="collection"
                  >
                </div>
                <div *ngIf="bookEditForm.get('collection')?.errors && bookEditForm.get('collection')?.touched">
                  <small *ngIf="bookEditForm.get('collection')?.errors?.['minlength']">Collection must be at least 2 characters.</small>
                  <small *ngIf="bookEditForm.get('collection')?.errors?.['maxlength']">Collection must be of maximum 30 characters.</small>
                  <small *ngIf="bookEditForm.get('collection')?.errors?.['pattern']">Collection must not contain invalid characters.</small>
                </div>
              </div>

              <div class="lib-inventory-books-form-group-filter-button">
                <button
                  class="lib-inventory-books-form-create-book-collection-button"
                  type="submit"
                  [disabled]="!bookEditForm.valid"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
